.display-massive {
    font-size: 10em;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
    width: 100vw;
}

#navbar-toggle-cbox {
    display:none
}

.form-inline > * {
    margin: 0.2em 0.2em !important;
}
